<label>Camera</label>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="t.config.camera_location" placeholder="Camera Location" required="required">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="t.config.desc" placeholder="Sensor Description" required="required">
        </div>
    </div>
    <div class="col-md-2">
        <input type="button" class="btn btn-sm btn-danger" value="Remove" ng-click="lb.removeSensor($index)" />
    </div>
</div>
